body {
    min-height: 100vh;
    font-family: sans-serif, 'Courier New', Courier, monospace;
    background-color: rgb(74, 106, 212);
    padding-top: 100px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999; 
}




